---
import Head from "@/components/Head.astro";
import ArticlePage from "@/components/article/articlePage.astro";
import Layout from "@/layouts/Layout.astro";
import { articles } from "@/libs/article";

export function getStaticPaths() {
  const paths = articles
    ?.map((article) => {
      if (article?.title === undefined) {
        return null;
      }
      return { params: { title: article.title } };
    })
    .filter(Boolean);
  return paths;
}

const { title } = Astro.params;

const article = articles?.find((article) => article?.title === title);

if (article === undefined) {
  throw new Error("articles is undefined");
}

const path = `/article/${article.title}`;
---

<Layout>
  <Head
    slot="head"
    title={article.title}
    description={article.description}
    contentType="article"
    path={path}
  />
  <main>
    <ArticlePage article={article} />
  </main>
</Layout>
